
<mat-card class="card">
    <mat-card-title>Detalle de producto</mat-card-title>
    <mat-card-content class="card-content">
    <p>
         <strong>Id:</strong> {{products.id}}
    </p>
    <p>
        <strong>Nombre:</strong>{{products.name}} 
    </p>
    <p>
        <strong>Stock:</strong>{{products.stock}}
    </p>
    <p>
        <strong>Price:</strong>{{products.price}}
    </p>
    <p>
        <strong>Disponibilidad:</strong> {{products.active}}
      
    </p>
    <p>
        <strong>Fecha de recepción:</strong> {{products.date_added}}
    </p>

    <p>
        <strong>Categoria:</strong> {{products.categories?.name}}
    </p>

</mat-card-content>
<mat-card-actions align= "end">
    <button mat-raised-button type="button" (click)="editProduct()">
    <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button type="button" color="warn" (click)="closeProduct()">
        <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button type="button" (click)="openDeleteDialog(products.id)">
            <mat-icon>delete</mat-icon>
            </button>

    </mat-card-actions>             
    

</mat-card>
