<a mat-stroked-button routerLink="/contact/new" id="new-contact">Nuevo Contacto</a>


<table mat-table [dataSource]="contacts" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let contact"> {{contact.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="surname1">
      <th mat-header-cell *matHeaderCellDef> primer apellido </th>
      <td mat-cell *matCellDef="let contact"> {{contact.surname1}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="surname2">
      <th mat-header-cell *matHeaderCellDef> segundo apellido </th>
      <td mat-cell *matCellDef="let contact"> {{contact.surname2}} </td>
    </ng-container>

    <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> telefono </th>
        <td mat-cell *matCellDef="let contact"> {{contact.telephone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
      </ng-container>     
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let contact">  
        <button mat-icon-button color="primary" (click)="editContactDetail(contact.id) ; $event.stopPropagation()">     
        <mat-icon>edit</mat-icon>
        </button>
        </td>
      
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
    // pasamos las columnas y coge cada una de las filas, cuando pinchamos en las flas llama al metodo openDetailForm
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailForm(row)"></tr>
  </table>
  
  